.listItem {
    position: relative;
    width:900px;
    height: 50px;
}
.listCode {
    position: relative;    
    width:70px;
    height:30px;
    left:20px;
    margin-left: 20px;
    font-family: "Poppins-Regular";
    
    background-color: white;
    color:black;
    font-size:14px;
    
    outline: 0;
    border-width: 0 0 0px;
}
.listProduct {
    position: relative;    
    width:200px;
    height:30px;
    left:20px;
    background-color: white;
    margin-left: 20px;
    font-family: "Poppins-Regular";
    
    color:black;
    font-size:14px;
    
    outline: 0;
    border-width: 0 0 0px;
}
.listStock {
    position: relative;    
    width:30px;
    height:30px;
    left:20px;
    font-family: "Poppins-Regular";
    
    color:black;
    margin-left: 20px;
    background-color: white;
    font-size:14px;
    outline: 0;
    border-width: 0 0 0px;
}
.listExpDate {
    position: relative;    
    width:200px;
    height:30px;
    left:00px;
    margin-left: 50px;
    font-family: "Poppins-Regular";
    
    color:black;
    background-color: white;
    font-size:14px;
    outline: 0;
    border-width: 0 0 0px;
}
.listbuttonGreen {
    position: relative;
    border: none;
    width:100px;
    background-color: inherit;
    padding: 14px 28px;
    
    margin-left: 50px;
    color:green;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
.listbuttonRed {
    position: relative;
    border: none;
    width:100px;
    background-color: inherit;
    padding: 14px 28px;
    
    color:red;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
button:active {
    outline: none;
    border: none;
    }
.actionActive {
    border: 2px solid #3DA56B;
    border-width: 0 0 2px;
}
